doctype html
html
  head
    meta(charset="utf-8")
    title Home - TamsuiCM11
    link(rel="stylesheet",type="text/css",href="style.min.css")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400',rel='stylesheet',type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,400italic',rel='stylesheet',type='text/css')
    meta(name="viewport",content="width=device-width")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(src="pagechanger.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js")
  body
    header
      img#logo(src="MarckozZ_art.png")
      img#logo-small(src="MarckozZ_art_small.png")
      nav.menu
        ul
          li
            a#home(href="#home") Home
          li
            a#devices(href="#devices") Supported Devices
          li
            a#changelog(href="#changelog") Changelog
          li
            a#downloads(href="#downloads") Downloads
          li
            a#source(href="#source") Source
          li
            a#projects(href="#projects") Secondary Projects
    div.donate
      span TamsuiCM11 member, lozohcum, is getting an SSD to increase build times for the project. Help him buy the SSD by donating!
      br
      form(action="https://www.paypal.com/cgi-bin/webscr",method="post",target="_top")
        input(type="hidden",name="cmd",value="_s-xclick")
        input(type="hidden",name="encrypted",value="-----BEGIN PKCS7-----MIIHFgYJKoZIhvcNAQcEoIIHBzCCBwMCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBYbQ148U4DbT5BIAw+K3uqA33jaDm9KFrs0IY1QhTIXvxlbTxl4z9iAwT4Q6b18MRyYDklNTbZcDOSEVmFG7Kvbi1AoGQKkw8jsO2C4d6p9Fn+eZ7hKz4EvNZI1jOwe1JJUy21oeDPQQVwlhvQQEvbmBVPTumESV5s1xyATu+YZjELMAkGBSsOAwIaBQAwgZMGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIUAs6HeaX+Q6AcBsspL7o6IulyEfv2CQEQSwf0O1kyhoDHkBIPT3qLBDn/Npi/rKMtul7zpjE1UminB2mdYJpZk4FsarnA1u63ClPAjEd9dMDE83+RawaI2w9191DubRjo6pY0R8KiC3PkAdCX1aBUTaq8SlUAXPn9Y+gggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNDA1MjkyMzQ5MTZaMCMGCSqGSIb3DQEJBDEWBBQBOEFa1FUZOHjqlFK8HYrCECWCoTANBgkqhkiG9w0BAQEFAASBgDHJN0/iazTg0+KfcbdXbCBDNinp5ZcK1iVxJ+0eV7hzNcn44+LXczVFJBCK03CBL9Nydq9F1/57YFThjO0DnGmlrnwLdNCj+gPlQCc04Dr3KgfXuvLLEjoTlY5oWYKhO0eHMuGan3k7HwucMfo7wnGE16B/KcEja/V+uWfYkR1I-----END PKCS7-----")
        input(type="image",src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif",border="0",name="submit",alt="PayPal - The safer, easier way to pay online!")
        img(alt="",border="0",src="https://www.paypalobjects.com/pl_PL/i/scr/pixel.gif",width="1",height="1")
    main
    footer
      |Copyright &copy; 2014 TamsuiCM11. All rights reserved.
      br
      |CyanogenMod is a registered trademark of Cyanogen, Inc.
      br
      |Title art thanks to MarckozZ @ XDA-Developers
      br
      |Showdown Markdown library license
      a(href="https://github.com/coreyti/showdown/blob/master/license.txt")&nbsp;here